<template>
  <label class="b-checkbox">
    <input type="checkbox" class="b-checkbox__input" :checked="isChecked" @click="onCheckAction()">
    <span class="b-checkbox__checkmark"></span>
  </label>
</template>

<script>
export default {
  name: 'Checkbox',
  components: {},
  props: {
    isChecked: {
      type: Boolean,
      default: false
    },
    onCheckAction: {
      type: Function,
      default: function () {}
    }
  }
}
</script>

<style lang="sass"></style>
