<template>
  <div class="b-statistics__item">
    <div class="b-statistics__title">{{item.title}}</div>
    <div class="b-statistics__value">{{item.value}}</div>
  </div>
</template>

<script>

export default {
  name: 'StatisticsItem',
  props: {
    item: {
      type: Object,
      default: function () {
        return { 
          title: '',
          value: 0
        }
      }
    },
  }
}
</script>

<style lang="sass"></style>
