@import "includes/reset.scss";
@import "includes/variables.scss";

.l-html {}
.l-body {
	height: calc(100vh);
	position: relative;
	background: $bg-default;
	color: $color-primary;
	font: 14px/1.3 'Arial', sans-serif; 
}

/*mixins*/
@import "includes/mixins/placeholder.scss";

/*blocks*/
@import "includes/blocks/content.scss";
@import "includes/blocks/container.scss";
@import "includes/blocks/statistics.scss";
@import "includes/blocks/notesList.scss";
@import "includes/blocks/addPanel.scss";
@import "includes/blocks/dialog.scss";
@import "includes/blocks/toast.scss";

/*elements*/
@import "includes/blocks/checkbox.scss";
@import "includes/blocks/button.scss";
@import "includes/blocks/title.scss";
@import "includes/blocks/field.scss";
@import "includes/blocks/sortIcon.scss";
@import "includes/blocks/message.scss";
